<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>SISDASEDU</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/web.css">
  </head>
  <body>

    <!-- Menu principal -->
       <nav class="navbar navbar-expand-lg navbar-light c-header fixed-top"></nav>
    <!-- Fin menu PRincipal -->
    
    <!-- FAQ -->
    <div class="row justify-content-center c-somos" style="background:url('../../public/img/imagenes/fondo_somos.jpg') no-repeat; background-size: cover; background-position: center center;">
        <div class="col-lg-12 col-md-12 col-sm-12 pb-3 c-faq">
            <h2 class="text-center title-blog" for="">BLOG DASEDU ONLINE</h2>
            <div class="row c-form-blog mb-3" >
                <div class="c-slider-blog col-lg-8 col-md-12 col-sm-12 mb-5">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active" style="background:url('../../public/img/imagenes/sa.jpg') no-repeat; background-size: cover; background-position: center center;">
                            <img class="d-block w-100" src="" alt="">
                          </div>
                          <div class="carousel-item" style="background:url('../../public/img/imagenes/sb.jpg') no-repeat; background-size: cover; background-position: center center;">
                            <img class="d-block w-100" src="" alt="">
                          </div>
                          <div class="carousel-item" style="background:url('../../public/img/imagenes/sc.jpg') no-repeat; background-size: cover; background-position: center center;">
                            <img class="d-block w-100" src="" alt="">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
                <div class="c-list-blog col-lg-4 col-md-12 col-sm-12">
                    <ul class="list-blog col-12">
                        <a href="#lista-entradas"><li class="item-list-blog col-12" style="background:url('../../public/img/imagenes/noticias.jpg') no-repeat; background-size: cover; background-position: center center;">Noticias</li></a>
                        <a href="#lista-entradas"><li class="item-list-blog col-12" style="background:url('../../public/img/imagenes/novedades.jpg') no-repeat; background-size: cover; background-position: center center;">Novedades</li></a>
                        <a href="#lista-entradas"><li class="item-list-blog col-12" style="background:url('../../public/img/imagenes/promociones.jpg') no-repeat; background-size: cover; background-position: center center;">Promociones</li></a>
                        <a href="#lista-entradas"><li class="item-list-blog col-12" style="background:url('../../public/img/imagenes/convenios.jpg') no-repeat; background-size: cover; background-position: center center;">Convenios</li></a>
                        <a href="#lista-entradas"><li class="item-list-blog col-12" style="background:url('../../public/img/imagenes/clientes.jpg') no-repeat; background-size: cover; background-position: center center;">Clientes</li></a>
                    </ul>
                </div>
            </div>
            <h2 class="text-center col-12" for="" id="lista-entradas">NOTICIAS</h2>
            <div class="c-det-categoria col-12 row">
                <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                    <div class="c-cont-note col-12">
                        <label class="title-entrada">Nueva Entrada numero 1 | Dasedu Online</label>
                        <div class="c-img-entrada col-12 pt-3 pb-3 pr-0 pl-0">
                            <img class="img-entrada" src="../../public/img/imagenes/img-entrada.jpg" alt="">
                        </div>
                        <p class="cont-entrada">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae animi, 
                            corporis laborum facere iusto in corrupti illo nihil alias eum ipsa 
                            consequuntur modi a velit voluptas, harum maxime. Nesciunt, expedita.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quibusdam 
                            tempore rem nesciunt quam debitis culpa, aliquam magni impedit, deleniti 
                            tempora autem nulla, dolorem architecto! Neque quibusdam facilis molestias magni?
                        </p>
                        <div class="fav-entrada col-12 pb-3">
                            <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                            <samp>
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                            </samp>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                    <div class="c-cont-note1 col-12">
                        <label class="title-entrada">Nueva Entrada numero 2 | Dasedu Online</label>
                        <div class="c-img-entrada col-12 pt-3 pb-3 pr-0 pl-0">
                            <img class="img-entrada" src="../../public/img/imagenes/img-entrada.jpg" alt="">
                        </div>
                        <p class="cont-entrada">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eveniet 
                            earum exercitationem, tempora dolorem dignissimos corrupti ratione, 
                            aperiam quae provident mollitia debitis cum magnam, quis impedit vel 
                            placeat nam quia.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum pariatur 
                            tenetur magnam, quidem consectetur iure molestias voluptas sed vitae 
                            reiciendis veniam odit corrupti, cum totam ipsam accusamus quibusdam 
                            magni quam.
                        </p>
                        <div class="fav-entrada col-12 pb-3">
                            <span> <img class="card-img-top card-img-c2" src="../../public/img/cant_alumnos.png" alt=""> 15</span>
                            <samp>
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_on.png" alt="">
                                <img class="card-img-top card-img-c2" src="../../public/img/favorito_off.png" alt="">
                            </samp>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
 
    <!-- Fin FAQ -->

    <!-- footer -->
    <!-- Footer -->
<footer class="page-footer font-small blue">
    
  </footer>
  <!-- Footer -->

    <!-- Fin footer -->

      <script src="../../public/js/jquery.js"></script>
      <script src="../../public/js/jquery-ui.js"></script>

      <script src="../../public/js/vendor/bootstrap.min.js"></script>
      <script src="../../public/systemjs/ventana.js"></script>
      <script src="../../public/systemjs/web/index.js"></script>

      <!-- Incluir Menu -->
      <script>
        $(document).ready(function () {
          $('.navbar').load('menu.html');
        });
      </script>

      <!-- Incluir Pie -->
      <script>
        $(document).ready(function () {
          $('.page-footer').load('footer.html');
        });
      </script>

      <!-- Incluir Buscador - Menu -->
      <script>
        $(document).ready(function () {
          $('.search').load('search.html');
        });
      </script>

  </body>
</html>
