<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>SISDASEDU</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/web.css">
  </head>
  <body>

    <!-- Menu principal -->
       <nav class="navbar navbar-expand-lg navbar-light c-header fixed-top"></nav>
    <!-- Fin menu PRincipal -->
    
    <!-- FAQ -->
    <div class="row justify-content-center c-somos" style="background:url('../../public/img/imagenes/fondo_somos.jpg') no-repeat; background-size: cover; background-position: center center;">
        <div class="col-lg-10 col-md-10 col-sm-12 pb-3 c-faq">
            <div class="c-header-tyc col-12 d-flex"><img class="col-lg-4 col-md-6 col-sm-10 justify-content-center" src="../../public/img/logos-header-tem.png" alt=""></div>
            <h2 class="text-center" for="">TERMINOS Y CONDICIONES</h2>
            <div class="col-12 c-form-footer desc-tyc mb-3 p-4" >
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora numquam reiciendis minus perspiciatis distinctio sequi exercitationem excepturi rerum? Eligendi provident sunt repellat? Unde quos facere voluptates autem vero eligendi provident! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero totam corporis repellendus nobis ipsa ad fugiat, ullam mollitia fugit nostrum obcaecati vitae velit illum maxime cupiditate ipsum natus laboriosam sequi. </p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae quisquam maiores quasi saepe culpa laudantium enim. Quo voluptatum quia a repellat vitae, dolore perspiciatis dolores ex tempora! Culpa, quo perferendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta nostrum voluptatum repellat natus, impedit similique eos inventore, ea, sint nemo eligendi quis? Itaque reiciendis cupiditate maiores, possimus consequuntur eius quis!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam temporibus modi harum nam nesciunt obcaecati ad similique aperiam maxime placeat, iste neque laborum fugit reprehenderit nisi corporis perspiciatis quaerat? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur pariatur nobis numquam, doloribus dignissimos animi omnis quod dolor, porro impedit obcaecati esse placeat, eum natus officiis ducimus incidunt tempora odit!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nam suscipit sint est amet placeat in dicta, ab animi nemo pariatur repellendus velit explicabo minima a accusantium omnis. Ratione, ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, deserunt inventore? Sequi dolor culpa consequatur veritatis, maiores molestiae aliquid? Nemo fugiat aliquid minus deserunt, et nisi impedit ut similique. Esse.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga neque nemo rerum, unde temporibus iusto! Sint id ipsam neque amet, explicabo dicta quas modi unde! Hic culpa dolor sint qui? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis aliquam minus excepturi! Corrupti molestiae, modi numquam perferendis quod distinctio ipsam temporibus itaque perspiciatis esse sapiente dicta! Cumque fugiat dolorem voluptates.</p>
            </div>
        </div>       
    </div>
 
    <!-- Fin FAQ -->

    <!-- footer -->
    <!-- Footer -->
<footer class="page-footer font-small blue">
    
  </footer>
  <!-- Footer -->

    <!-- Fin footer -->

      <script src="../../public/js/jquery.js"></script>
      <script src="../../public/js/jquery-ui.js"></script>

      <script src="../../public/js/vendor/bootstrap.min.js"></script>
      <script src="../../public/systemjs/ventana.js"></script>
      <script src="../../public/systemjs/web/index.js"></script>

      <!-- Incluir Menu -->
      <script>
        $(document).ready(function () {
          $('.navbar').load('menu.html');
        });
      </script>

      <!-- Incluir Pie -->
      <script>
        $(document).ready(function () {
          $('.page-footer').load('footer.html');
        });
      </script>

      <!-- Incluir Buscador - Menu -->
      <script>
        $(document).ready(function () {
          $('.search').load('search.html');
        });
      </script>

  </body>
</html>
